/*Custom properties*/
:root{
    --white: #ffffff; 
    --dark: #212121;
    --primary: #ffc107;
    --secundary: #0097a7;
    --grey: #757575;
}
html{
    font-size: 62.5%;
    /*Hack para box model*/
    box-sizing: border-box;
}
/*Hack para box model*/
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grey) 0%,  var(--white) 100%);
}
/*Tipografia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
.main-navigation{
    background-color: var(--secundary);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
}
.nav-bg{
    background-color: var(--secundary);
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*el justify content es para filas
    existe otro que es el aling-items es para las columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold; /*Negritas en css*/

}
@media (min-width: 768px){
    .main-navigation{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
.main-navigation a{
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
}

.main-navigation a:hover{
    background-color: var(--primary);
    color: var(--dark);   
}
/*
    Tamaños recomendados para media query
    480px para dispositivos moviles
    768px para tablets
    1140px para laptops
    1400 para dispositivos mas grandes o tvs
    tienen un formato conocido como llave/valor o key/value
*/
.hero{
    /*
        El uso de ../ significa que se regresas un nivel en el directorio.
    */
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative; /*para manipular la posición, el padre siempre debe ser relativo*/

}
.contenedor-hero {
    position: absolute;
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    /*alinear vertical y horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-hero p,.contenedor-hero h2{
    color: var(--white);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
.boton{
    background-color: var(--secundary);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; 
    border-radius: .5rem; /*Esquinas redondeadas*/
    width: 90%;
    text-align: center;
}
@media (min-width: 768px){
    .boton{
        /*padding: 2rem;*/
        width: auto;
        /*margin: 2rem;*/
    }
}

.sombra {
    margin-top: 2rem;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    /*Motor para google chrome*/
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    /*Motor para mozilla firefox*/
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
}
/*
Pendientes Clase Viernes 03/05/2024
que es blur: es desenfoque
que es box shadow: es para difuminar el dondo
que es box model: es la estructura para acomodar los contenedores
en que pagina generamos los box shadowws: Css generator
*/
/*---Servicios---*/
@media (min-width: 768px){
  .servicios {
    display: grid;
   /*
   Alternativa sencilla 
   grid-template-columns: 1fr 1fr 1fr;
   */
   /*
   Alternativa porcentajes
   grid-template-columns: 33.3% 33.3% 33.3%;
   */
   grid-template-columns: repeat(3, 1fr); /* El primer valor es para decir cuantas veces se repite y el segundo el tamaño*/
  }
  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Ajustar color y peso de la letra del h3*/
  .servicio h3{
    color:var(--secundary);
    font-weight: normal;
  }
  .servicios p{
    text-align: center;
    /* Interlineado */
    line-height: 2;
  }
  .servicios .iconos {
    width: 15rem;
    height: 15rem;
    background-color: var(--primary);
    border-radius: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.formulario{
  background-color: var(--grey);
  /* formula para no usar media query*/
  width: min(100rem,100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
}
.formulario fieldset{
  border: none;
}

.formulario legend{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--primario);
}

@media (min-width: 768px){
    .contenedor-campos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    grid-template-rows: auto auto 20rem;/* el espacio de cada fila */
  }
  .campo:nth-child(3),.campo:nth-child(4){
    grid-column: 1/3;     /* pone el elemento de la 1 a la 3 */
  }
}
.campo label{
  color: var(--white);
  font-weight: bold;
  margin-bottom: .5rem ;
  display: block;
}
.input-text{
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: .5rem;
}
.campo textarea{
  height: 20rem;
}
.w-sm-100{
  width: 100%;
}
@media (min-width: 768px){
  .w-sm-100{
    width: auto;   
  }
}
.flex{
  display: flex;
}
.alinear-derecha{
  justify-content: flex-end;
}

.footer{
  text-align: center;
}

@media (max-width: 768px) {
  .servicio .iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--primary);
  }
}