/*Custom properties*/
:root{
    --white: #ffffff; 
    --dark: #212121;
    --primary: #ffc107;
    --secundary: #0097a7;
    --grey: #757575;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.main-navigation{
    background-color: var(--secundary);
}
.contenedor{
    width: 120rem;
    margin: 0 auto; 
}
.nav-bg{
    background-color: var(--secundary);
}

.main-navigation{
    display: flex;
    /*el justify content es para filas
    existe otro que es el aling-items es para las columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold; /*Negritas en css*/

}
.main-navigation a{
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
}

.main-navigation a:hover{
    background-color: var(--primary);
    color: var(--dark);   
}
/*
    Tamaños recomendados para media query
    480px para dispositivos moviles
    768px para tablets
    1140px para laptops
    1400 para dispositivos mas grandes o tvs
*/
body{
    background-color: beige;
}
@media(min-width:480px){
    body{
        background-color: blue;
    }
}
@media(min-width:768px){
    body{
        background-color: cornflowerblue;
    }
}
