/*Custom properties*/
:root{
    --white: #ffffff; 
    --dark: #212121;
    --primary: #ffc107;
    --secundary: #0097a7;
    --grey: #757575;
}
html{
    font-size: 62.5%;
    /*Hack para box model*/
    box-sizing: border-box;
}
/*Hack para box model*/
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
}
/*Tipografia*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
.main-navigation{
    background-color: var(--secundary);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
}
.nav-bg{
    background-color: var(--secundary);
}

.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*el justify content es para filas
    existe otro que es el aling-items es para las columnas (flex-direction)*/
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold; /*Negritas en css*/

}
@media (min-width: 768px){
    .main-navigation{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
.main-navigation a{
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
}

.main-navigation a:hover{
    background-color: var(--primary);
    color: var(--dark);   
}
/*
    Tamaños recomendados para media query
    480px para dispositivos moviles
    768px para tablets
    1140px para laptops
    1400 para dispositivos mas grandes o tvs
    tienen un formato conocido como llave/valor o key/value
*/
.hero{
    /*
        El uso de ../ significa que se regresas un nivel en el directorio.
    */
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative; /*para manipular la posición, el padre siempre debe ser relativo*/

}
.contenedor-hero {
    position: absolute;
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    /*alinear vertical y horizontal*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-hero p,.contenedor-hero h2{
    color: var(--white);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
.boton{
    background-color: var(--secundary);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; 
    border-radius: .5rem; /*Esquinas redondeadas*/
    width: 90%;
    text-align: center;
}